 <!-- <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#">New User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Returning User</a>
    </li>
  </ul> -->
  <div class="jumbotron">
    <h1 class="display-4">Smart Money</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
  </div>
  <div style=padding:20px; class="container">
    <div class="card-deck">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">About Us</h5>
          <p class="card-text"> Bacon ipsum dolor amet pig rump tail hamburger ribeye pork chop pastrami ham hock
            capicola flank meatball cupim drumstick. Hamburger ribeye buffalo spare ribs, leberkas porchetta bacon
            meatloaf. Turducken flank brisket ball tip. Kevin burgdoggen doner tenderloin corned beef picanha bresaola..
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Transaction</h5>
          <p class="card-text">Buffalo bacon porchetta pig bresaola prosciutto short loin beef ribs burgdoggen t-bone
            turkey frankfurter landjaeger. Corned beef kielbasa hamburger pastrami. Buffalo swine tail drumstick. </p>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Bills </h5>
          <p class="card-text">Sausage bresaola buffalo drumstick landjaeger bacon capicola doner boudin pastrami.
            Corned beef capicola pig turkey, hamburger venison flank turducken t-bone chicken. Cupim turkey buffalo,
          </p>
        </div>
      </div>
    </div>
  </div>